<div class="footer">
<div class="footer-left">
<div class="footer-text">
  From BROWERY with <i class="fas fa-heart"></i>
</div>
  <div class="footer-links">
    <a href="https://github.com/"><i class="fab fa-github"></i></a>
    <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a>
    <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
    <a href="https://linkedin.com/"><i class="fab fa-linkedin"></i></a>
  </div>

</div>

  <div class="footer-mid">
<p class="bold">Support</p>
<p>Report misconduct</p>
<p>Cancellations options</p>
  </div>

    <div class="footer-mid">
<p class="bold">Browery</p>
<p>Investors</p>
<p>Careers</p>
  </div>

</div>
