<div class="banner" id="home-banner" style="background-image: url(https://img.freepik.com/premium-photo/pouring-beer-with-bubble-froth-glass-background-design_158502-191.jpg?w=1480);">
  <div class="container">
    <h1 class="text-center"><strong>Welcome to Browery</strong></h1>
    <h2 class="text-center">The brotherhood of brewers</h2>
    <div class="search-bar">
        <%= simple_form_for :search, url: root_path, method: :get do |f| %>
        <div class="search-form-control form-group">
          <input class="form-control string required" type="text" name="search[query]" id="search_query" />
            <button name="button" type="submit" class="btn btn-flat text-white">
            Search <i class="fa-solid fa-beer-mug-empty"></i>
            </button>
        </div>
          <% end %>
      </div>
    </div>
  </div>
</div>

<div class="sales-container">
  <div class="sales-card">
    <img src="https://res.cloudinary.com/dmndhddgf/image/upload/v1669244700/development/undraw_beer1_fqlkmr.svg" alt="">
    <div class="sales-text">
      <h2>Craft beer is the future</h2>
      <p>Everyday more and more people are joining the craft beer revolution. They want to create their own beers and enjoy a special beverage instead of the same industrial crap.</p>
    </div>
  </div>
  <div class="sales-card">
    <div class="sales-text">
      <h2>But its' not easy</h2>
      <p>It's easy to learn how to make craft beer online, unfortunately, the gear needed is expensive and takes lots of room.</p>
    </div>
    <img src="https://res.cloudinary.com/dmndhddgf/image/upload/v1669244636/development/undraw_factory_jotmdh.svg" alt="">
  </div>
  <div class="sales-card">
    <img src="https://res.cloudinary.com/dmndhddgf/image/upload/v1669244630/development/undraw_beer_celebration_re_0iqw_vvaouk.svg" alt="">
    <div class="sales-text">
      <h3>Enter Browery</h3>
      <p>Easily find breweries equipped with the best gear and tools to help you produce your very own batches of craft beer. And if already own the equipment, easily list your brewery to make the most of your investment.</p>
    </div>
  </div>
</div>
