<h1>Welcome to browery</h1>

<div class="card-trip">
  <% @breweries.each do |browery| %>
  <img src=""/>
  <div class="card-trip-infos">
    <div>
      <h2><%=browery.name %></h2>
      <p><%= browery.description%></p>
      <p><%=browery.rating%></p>
    </div>
    <h2 class="card-trip-pricing"><%=browery.price%></h2>
    <%end%>
  </div>
</div>
