.cards {
    align-items: center;
    flex: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 16px;
    margin-bottom: 40px;
  }

.card-brewery {
    overflow: hidden;
    background: rgb(219, 219, 219);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 15px;
    margin-right: 14px;
    border: 1px solid #ccc;
    min-height: 326px;
    width: 300px;
}

.card-brewery img {
    object-position: center;
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.card-img {
    height: 40%;
}

.card-text {
    position: relative;
    height: 60%;
    padding: 16px;
}
.card-brewery h2 p {
    padding: 0 20px 20px
}

.card-rating {
    position: absolute;
    top: 80px;
    right: 20px;
    font-weight: bold;
}

.card-brewery h2 {
    font-size: 19px;
    font-weight: bold;
    margin: 0;
    color: black;
}

.card-brewery p {
    font-size: 15px;
    margin: 0;
    color: black;
}

.card-brewery .card-brewery-info {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.card-product {
  overflow: hidden;
  max-height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}
