.navbar-lewagon {
  justify-content: space-between;
  position: fixed;
  top: -10;
  width: 100%;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
  border-radius: 50%;
}

.login {
  display: flex;
}

.user-icon {
  margin-top: 2px;
}

.navbar-lewagon-transperant {
  background-color: transparent;
}

.navbar-lewagon-white {
  background-color: white;
  transition: 0.5s background-color ease;
}
