.navbar-lewagon {
  justify-content: space-between;
  background-color: transparent;
  position:  fixed;
    width: 100%;
    z-index: 9999;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.login {
  display: flex;
}

.user-icon {
  margin-top: 2px;
}
