.profile-photo {
  width: 50%;
  height: 50%;
  border-radius: 50%;
  margin-top: 5%;

}

.profile-container{
  background-color: white;
  margin-bottom: 20px;
  min-height: 326px;
  border-radius: 15px;
}
