.sales-card {
  width: 75%;
  display: grid;
  column-gap: 20px;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: column;
  align-items: center;
  justify-items: center;
  margin: 50px auto;
}

.sales-card img {
  width: 50%;
}

.sales-container {
  margin-top: 50px;
  margin-bottom: 50px;
}
